@-moz-document regexp("^https?://((gist|guides|help|raw|status|developer)\.)?github\.com((?!generated_pages\/preview).)*$"), domain("render.githubusercontent.com"), domain("raw.githubusercontent.com") {
  /*! Github Fixed Header Theme v1.0.0 (2/18/2016) *//*
 * https://github.com/StylishThemes/GitHub-FixedHeader
 * https://userstyles.org/styles/124438
 * License: https://creativecommons.org/licenses/by-sa/4.0/
 */
 	/* AGENT_SHEET */
	.main-content {
	    margin-top: 50px;
	}

	.discussion-sidebar {
    	top: 50px;                                        
	}

	.header.header-logged-in {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    z-index: 1000;
	}
}